apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pagespeed-exporter.fullname" . }}
  labels:
    {{- include "pagespeed-exporter.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "pagespeed-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "pagespeed-exporter.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pagespeed-exporter.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "-api-key={{ .Values.exporter.googleapikey }}"
          {{- range $_, $target := .Values.exporter.targets }}
            - "-t={{ $target }}"
          {{- end }}
          {{- with .Values.exporter.pushGatewayUrl }}
            - "-pushGatewayUrl={{ . }}"
          {{- end }}
            - "-listener=:{{ .Values.targetPort }}"
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
